* {
    /* font-family: "Roboto Mono", monospace; */
    font-weight: 400;
    color: #212121;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word; 
}

h1 {
    font-size: 3rem; }
  
  h2 {
    font-size: 2.6rem; }
  
  h3 {
    font-size: 2.2rem; }
  
  h4 {
    font-size: 1.8rem; }
  
  h5 {
    font-size: 1.6rem; }
  
  h6 {
    font-size: 1.4rem; }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
}
.music-player{
  min-width: 600px;
}

.music-info {
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-transform: capitalize;
}

.music-info h2, .music-info h4{
    color: white;
}

.music-info h4 {
    font-weight: 100;
}

.music-artwork{
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.music-artwork img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-transports{
    height: 100px;
    padding: 20px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
} 

.music-transport-btn{
    background-color: transparent;
    border: 0;
    font-size: 30px;    
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.music-transport-btn:focus {
  outline: 0;
}

.music-transport-btn i{
    color: white;
}

.sliders{
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; 
}

.volume-slider i, .seek-slider i{
    color: white;
}

.box {
    border: none !important;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    height: 4px;
    width: 70%;
  }
  
  .progress {
    background-color: #1373f9;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
.sliders .volume_slider {
    margin: 30px 10px;
    width: 50%;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

.music-artwork img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: 110px;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-player.play .music-artwork img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
